" -----------------------------------------------------------------------------  
" |                            VIM Settings                                   |
" |                              GUI stuff                                    |
" -----------------------------------------------------------------------------  

" Highlight columns 80+ (may be at odds with lang-specific rules) *************
highlight OverLength ctermbg=red ctermfg=white guibg=#592929
match OverLength /\%81v.\+/
set colorcolumn=81

" OS Specific *****************************************************************
if has("gui_macvim")
  set fuoptions=maxvert,maxhorz " fullscreen options (MacVim only), resized window when changed to fullscreen
  set fuoptions=maxvert
  set guifont=Monaco:h14
  set guioptions-=T  " remove toolbar
  set stal=2 " turn on tabs by default
  colorscheme monokai
elseif has("gui_gtk2")
  "set guifont=Anonymous\ Pro\ 14
  "set guifont=Anonymous\ Pro\ 24
  set guifont=Monaco
  set guioptions-=T  " remove toolbar
elseif has("x11")
elseif has("gui_win32")
end


" General *********************************************************************
set anti " Antialias font

"set transparency=0

" Default size of window
set columns=179 
set lines=50

" Tab headings 
set gtl=%t gtt=%F
