{%- with session=None -%}
{%- if "cinnamon-session" is installed -%}
    {% set session="cinnamon-session" %}
{%- elif "i3" is installed -%}
    {% set session="i3" %}
{%- elif "mate-session" is installed -%}
    {% set session="mate-session" %}
{%- elif "twm" is installed -%}
    {% set session="twm" %}
{%- endif -%}

{%- if "ck-launch-session" is not installed or session == None -%}
{#-
    This will guess again the session startup command.
    By unsetting USERXSESSION/ALTUSERXSESSION, the xsession file
    will be ignored.
-#}
unset USERXSESSION ALTUSERXSESSION
. /etc/X11/Xsession.d/50x11-common_determine-startup
exec "$STARTUP"
{%- else -%}
exec ck-launch-session {{session}}
{%- endif -%}

{%- endwith %}


