{% if ["gm",] is installed -%}
# wrappers for common graphicsmagick tasks
gmresize() {
	local q
	local s
	local sm

	q=${q:-"85"}
	s=${s:-"1200"}
	s=$(echo "$s" | sed -E 's/[^0-9]*([0-9]+).*/\1/')
	sm=$(echo "$s" | tr -dc ^)

	for f in "$@"; do
		# extract extension for file
		fbnm=$(basename "$f")
		fext="${fbnm##*.}"
		if [ "$fext" = "$fbnm" ]; then
			echo "Skipping '$f' (no extension)." 1>&2
			continue
		fi

		# convert and store to temp file
		temp==(gm convert -resize ${s}x${s}${sm} -quality "$q" "$f" ${fext}:-)

		# check for failure and overwrite original
		if [ "$?" != "0" ]; then
			echo "Skipping '$f' (conversion failure)." 1>&2
			continue
		fi
		mv -f "$temp" "$f"
		gm identify "$f"
	done
}
{%- endif %}

# vim:ft=sh

