" Highlight column 81 *********************************************************
let &colorcolumn=81

" Highlight columns 81+ *******************************************************
" let &colorcolumn=join(range(81,999),",")

" vim:ft=vim
